@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <div class="nav-link js-scroll-trigger">
                    @Html.ActionLink( User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </div>
            </li >
            <li class="nav-item">
                <div class="nav-link js-scroll-trigger">
                    <a href="javascript:document.getElementById('logoutForm').submit()">CERRAR SESIÓN</a>
                </div>
            </li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <div class="nav-link js-scroll-trigger">
                <span class="icon-user"></span>
                @Html.ActionLink("REGISTRAR", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link js-scroll-trigger">
                <span class="icon-cart"></span>
                @Html.ActionLink("INICIAR SESIÓN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
        </li>
    </ul>
}
