
@{
    ViewBag.Title = "accesorios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>accesorios</h1>
<h2>Aplicacion para la consultoría</h2>

<iframe width="[W]" height="[H]" src="https://apps.powerapps.com/play/[AppID]?source=website&screenColor=rgba(165,34,55,1)" allow="geolocation; microphone; camera" />