body {
    background-image: url("../img/Fon2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#mainNav {
    background-color: #000000;
    position: fixed;
}

footer {
    background-color: #000000;
}

#productos {
    background-color: #000000b9;
    border-radius: 20px;
    border: 2px solid rgb(187, 187, 187);
}

    #productos h1 {
        color: #ffffff;
        text-align: center;
    }
